[Desktop Entry]
Encoding=UTF-8
Name=Tika
Comment=
Exec=gnome-terminal --geometry=60x20 -e "bash -c \"java -jar ~/Downloads/tika-server-1.16.jar\""
Icon=/work/opt/netbeans-8.2/nb/netbeans.png
Categories=Application;Development;Java;IDE
Version=1.0
Type=Application
Terminal=0
Comment[de_DE]=
